<div class="create-task-form">
    <h2>Create Task</h2>
    <form [formGroup]="taskForm" (submit)="createTask()">
      <label for="taskName">Task Name:</label>
      <input type="text" id="taskName" name="taskName" formControlName="taskName"
             [ngClass]="{'error-input': taskForm.get('taskName')?.invalid && taskForm.get('taskName')?.touched}">
      <div *ngIf="taskForm.get('taskName')?.hasError('required') && taskForm.get('taskName')?.touched" class="error-message">
        Task Name is required.
      </div>
  
      <label for="taskDescription">Task Description:</label>
      <textarea id="taskDescription" name="taskDescription" formControlName="taskDescription"></textarea>
  
      <label for="selectedEmployee">Select Employee:</label>
      <select id="selectedEmployee" name="selectedEmployee" formControlName="selectedEmployee">
        <option *ngFor="let employee of employees" [value]="employee.employeeName">{{ employee.employeeName }}</option>
      </select>
  
      <button type="submit" [disabled]="!taskForm.valid" [ngStyle]="{'background-color': !taskForm.valid ? 'grey' : ''}">
        Create Task
      </button>
    </form>
  
    <div *ngIf="successMessage" class="log-message">
      {{ successMessage }}
    </div>
</div>  